<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockOverflow</title>

    <link href={{ url_for('static', filename='css/vendor/materialize.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='css/vendor/c3.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='css/style.css') }} rel="stylesheet">
</head>
<body>
    <div class="full-height container">
        {% block content %}{% endblock content %}
    </div>

    <script src={{ url_for('static', filename='js/vendor/jquery-3.1.1.min.js') }}></script>
    <script src={{ url_for('static', filename='js/vendor/materialize.js') }}></script>
    <script src={{ url_for('static', filename='js/vendor/d3.js') }} charset="utf-8"></script>
    <script src={{ url_for('static', filename='js/vendor/c3.js') }}></script>
    <script src={{ url_for('static', filename='js/simulation-chart.js') }}></script>
</body>
</html>
